/* @import "bootstrap/dist/css/bootstrap.css"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
    background: rgb(18,18,12);
    background: linear-gradient(90deg, rgba(18,18,12,1) 0%, rgba(105,93,93,1) 100%);
    color: white;
    min-height: 100vh;
    font-family: cursive;
}
.introimg{
    /* background: rgb(255,175,83);
background: linear-gradient(90deg, rgba(255,175,83,1) 44%, rgba(245,243,242,1) 100%); */
}
.rangecircular{
        background: #00000096;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        /* border: 6px solid black; */
}
.rangecircularcontact{
    background: #00000096;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: 6px solid black; */
}
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(66, 66, 66); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #000000; 
  }